
<div class="container">
	<br><br>
	<div class="row clearfix">
		<div class="col-md-4">
			<h3>Please enter a course</h3>
			<form>
				<input class="courseSearch" placeholder="Course title or number" autocomplete="off"
				onkeyup="typeShowHide();"
				onblur="clickHide();"
				></input>
			</form>
			<div class="autoCompleteBox" id="results303" hidden>
				<p class="autoCompleteEntry" onmousedown="revealCourse();"><strong>Psych 303-0</strong><br><small>Psychopathology</small></p>
				<p class="autoCompleteEntry"><strong>Psych 312-2</strong><br><small>Physiological Psychology</small></p>
				<p class="autoCompleteEntry"><strong>Psych 314-0</strong><br><small>Special Topics in Psychology</small></p>
				<p class="autoCompleteEntry"><strong>Psych 335-0</strong><br><small>Decision Making</small></p>
			</div>
			<div class="autoCompleteBox" id="resultsPsycho" hidden>
				<p class="autoCompleteEntry" onmousedown="revealCourse();"><strong>Psych 303-0</strong><br><small>Psychopathology</small></p>
				<p class="autoCompleteEntry"><strong>Psych 306-0</strong><br><small>Developmental Psychopathology</small></p>
			</div>
			<div class="autoCompleteBox" id="error" hidden>
				<p class="autoCompleteError"><strong>Sorry, we couldn't find a matching course</strong><br><small>Please check the course number or spelling</small></p>
			</div>
			<br>
			<form id="saveButton" hidden>
				<button type="button" class="btn saveButton" onclick="revealList()">Save to Course List</button>
			</form>
			<br>
			<div class="saveList" hidden>
				<p class="panelheader3">Course List</p>
				<strong>Psych 303-0</strong>
				<br>
				<small>Psychopathology</small>
			</div>
		</div>
		<div class="col-md-8">
			<div class="tabbable" id="tabs-202962">
				<ul class="nav nav-tabs purpleTab"> <!-- the background behind the tabs -->
					<li id="firstTab">
						<a href="#panel-1" data-toggle="tab">Course Path</a>
					</li>
					<li>
						<a href="#panel-2" data-toggle="tab">Info</a>
					</li>
					<li>
						<a href="#panel-3" data-toggle="tab">Major/Minor</a>
					</li>
					<li>
						<a href="#panel-4" data-toggle="tab" onclick="makeGraph()">Course Ratings</a>
					</li>
					<li>
						<a href="#panel-5" data-toggle="tab">Course Comments</a>
					</li>
				</ul>
				<div class="tab-content">  <!--coloring did not have effect when a class was put here-->
					<div class = "contentpage" style="position:absolute;" id="greeting">
						<p class="panelheader2">Welcome to WildCourseCat</p>
						<p>Please enter a course title or number in the field to the left to look up its information</p>
					</div>
					<div class="tab-pane contentpage active" id="panel-1">
						<p>
							<img src="http://i.imgur.com/c2F5ObH.jpg" alt="Course_Progression_chart"></img>
						</p>					</div>
					<div class="tab-pane contentpage" id="panel-2">
						<!--<p class="panelheader1">Info<br></p>-->
						<p class="panelheader2">Professors</p>
						<p>Sara Broaders, Renee Engeln, Susan Minka</p>
						<p class="panelheader2">Course Outline</p>
						<p>This course provides an introduction to the fascinating field of abnormal psychology. We will discuss definitions of abnormal behavior, the diagnosis and assessment of emotional disorders, and the development and evaluation of treatment approaches. The most commonly occurring disorders will be covered with an emphasis on phenomenology (the experience of the individual experiencing the disorder), etiology (the possible causes of the disorder), and contemporary approaches to treatment. Special attention will be paid to controversial topics and current trends in the study of abnormal psychology, such as the importance of empirical research in developing effective treatments, the use of medication, and the effectiveness of psychotherapy.</p>
						<p class="panelheader2">Evaluation Method</p>
						<p>Exams and weekly written reaction papers</p>
						<p class="panelheader2">Required Texts</p>
						<p>Butcher, J.N., Hooley, J.M., & Mineka, S.M. (2014). Abnormal Psychology, 16th edition. Pearson Education. ISBN-10: 0205944280 ISBN-13: 9780205944286</p>
					</div>
					<div class="tab-pane contentpage" id="panel-3">
						<!--<p class="panelheader1">Major/Minor<br></p>-->
							<p class="panelheader2">Weinberg Applications</p>
							<ul>
								<li>Psychology Major (Column A, Row 1)</li>
								<li>Psychology Minor (Column A)</li>
								<li>Weinberg Distribution (Area 3, Social and Behavioral Sciences)</li>
							</ul>
							<p class="panelheader2">McCormick Applications</p>
							<ul>
								<li>McCormick Themed Elective (Social & Behavioral Sciences)</li>
							</ul>

					</div>
					<div class="tab-pane contentpage" id="panel-4">
						<p>
							<canvas id="myChart" width="730" height="390"></canvas>
							<div id="myLegend" class="myLegend"></div>
						</p>
					</div>
					<div class="tab-pane contentpage" id="panel-5">
						<p>
							<p class="panelheader2">Prof. Sara Broaders</p>
							<p class="panelheader3">Keywords</p>
							<p>Professor Broaders, discussion questions, great class, interesting psychology class, weekly discussion questions, interesting course, interesting class, psych class workload, fine Difficult class, hardest psych class, good class, book chapter headings, quarter Sara Broaders, exams, great deail, engaging lecturer, interesting subject, interesting material, work 2-page summary, prof. Broaders, weekly 2-page papers</p>
							<p class="panelheader3">Feedback</p>
							<p><!--NOTE: We might consider doing alternate text colors or background colors (just subtle ones) to differentiate one comment from another.-->This is a really interesting psychology class. Psychopathology is fascinating, and I enjoyed all of the lectures on the disorders. There's a lot of material to cover, but Professor Broaders manages to make it manageable and engaging. The work load isn't too heavy, just three tests and weekly discussion questions (although the final is cumulative).</p>
							<p>I really liked this class because I have a strong interest in the material. The tests were kinda challenging because everyone is smart and the tests are REALLY long (I mean, what tests are not hard at NU?). However, it's super interesting and professor broaders is a really engaging lecturer. I'd definitely take this class.</p>
							<p>unorganized. This also felt a lot like a text-book class, meaning that I could have taught myself the same material by only reading the text. I know a lot more about mental illness now, but I wish that we had talked more about the societal implications of mental health; stigma, health insurance, and advocacy groups.</p>
							<p>You'll need to basically memorize the entire textbook to do well on tests, and the textbook is very dense. You'll also have weekly 2-page papers based on anywhere from 20 to 100+ pages of discussion section readings. You'll have 2 midterms and a cumulative final exam which all cover a ridiculous amount of material.</p>
							<p>This course goes by quick, with lots of reading each week. The material is interesting, but I wish that there had been more time to actually enjoy learning about it. Also, the weekly reading articles you can usually skim and make something up...other than that this was an ok course.</p>
							<p>If you read the textbook and study lecture slides you can do very well. Broaders makes difficult tests, but if you study you can do well on them. Discussion sections were a really good part of the class. The subject gets repetitive, but discussion sections kept it more interesting.</p>
							<!--Note: We may need to extend the length of the tab page to accomodate all the feedback stuff.-->
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

