
<div class="container">
	<br><br>
	<div class="row clearfix">
		<div class="col-md-4">
			<h3>Please enter a course</h3>
			<form>
				<input class="courseSearch" placeholder="Course title or number" autocomplete="off"
				onkeyup="typeShowHide();"
				onblur="clickHide();"
				></input>
			</form>
			<div class="autoCompleteBox" id="results303" hidden>
				<p class="autoCompleteEntry" onmousedown="revealCourse();"><strong>Psych 303-0</strong><br><small>Psychopathology</small></p>
				<p class="autoCompleteEntry"><strong>Psych 312-2</strong><br><small>Physiological Psychology</small></p>
				<p class="autoCompleteEntry"><strong>Psych 314-0</strong><br><small>Special Topics in Psychology</small></p>
				<p class="autoCompleteEntry"><strong>Psych 335-0</strong><br><small>Decision Making</small></p>
			</div>
			<div class="autoCompleteBox" id="resultsPsycho" hidden>
				<p class="autoCompleteEntry" onmousedown="revealCourse();"><strong>Psych 303-0</strong><br><small>Psychopathology</small></p>
				<p class="autoCompleteEntry"><strong>Psych 306-0</strong><br><small>Developmental Psychopathology</small></p>
			</div>
			<div class="autoCompleteBox" id="error" hidden>
				<p class="autoCompleteError"><strong>Sorry, we couldn't find a matching course</strong><br><small>Please check the course number or spelling</small></p>
			</div>
			<br>
			<form id="saveButton" hidden>
				<button type="button" class="btn saveButton" onclick="revealList()">Save to Course List</button>
			</form>
			<br>
			<div class="saveList" hidden>
				<p class="panelheader3">Course List</p>
				<strong>Psych 303-0</strong>
				<br>
				<small>Psychopathology</small>
			</div>
		</div>
		<div class="col-md-8">
			<div class="tabbable" id="tabs-202962">
				<ul class="nav nav-tabs purpleTab"> <!-- the background behind the tabs -->
					<li id="firstTab">
						<a href="#panel-1" data-toggle="tab">Course Path</a>
					</li>
					<li>
						<a href="#panel-2" data-toggle="tab">Info</a>
					</li>
					<li>
						<a href="#panel-3" data-toggle="tab">Major/Minor</a>
					</li>
					<li>
						<a href="#panel-4" data-toggle="tab" onclick="makeGraph()">Course Ratings</a>
					</li>
					<li>
						<a href="#panel-5" data-toggle="tab">Course Comments</a>
					</li>
				</ul>
				<div class="tab-content">  <!--coloring did not have effect when a class was put here-->
					<div class = "contentpage" style="position:absolute;" id="greeting">
						<p class="panelheader2">Welcome to WildCourseCat</p>
						<p>Please enter a course title or number in the field to the left to look up its information</p>
					</div>
					<div class="tab-pane contentpage active" id="panel-1">
						<p>
							<img src="http://i.imgur.com/c2F5ObH.jpg" alt="Course_Progression_chart"></img>
						</p>					</div>
					<div class="tab-pane contentpage" id="panel-2">
						<!--<p class="panelheader1">Info<br></p>-->
						<p class="panelheader2">Professors</p>
						<p>Sara Broaders, Renee Engeln, Susan Minka</p>
						<p class="panelheader2">Course Outline</p>
						<p>This course provides an introduction to the fascinating field of abnormal psychology. We will discuss definitions of abnormal behavior, the diagnosis and assessment of emotional disorders, and the development and evaluation of treatment approaches. The most commonly occurring disorders will be covered with an emphasis on phenomenology (the experience of the individual experiencing the disorder), etiology (the possible causes of the disorder), and contemporary approaches to treatment. Special attention will be paid to controversial topics and current trends in the study of abnormal psychology, such as the importance of empirical research in developing effective treatments, the use of medication, and the effectiveness of psychotherapy.</p>
						<p class="panelheader2">Evaluation Method</p>
						<p>Exams and weekly written reaction papers</p>
						<p class="panelheader2">Required Texts</p>
						<p>Butcher, J.N., Hooley, J.M., & Mineka, S.M. (2014). Abnormal Psychology, 16th edition. Pearson Education. ISBN-10: 0205944280 ISBN-13: 9780205944286</p>
					</div>
					<div class="tab-pane contentpage" id="panel-3">
						<!--<p class="panelheader1">Major/Minor<br></p>-->
							<p class="panelheader2">Weinberg Applications</p>
							<ul>
								<li>Psychology Major (Column A, Row 1)</li>
								<li>Psychology Minor (Column A)</li>
								<li>Weinberg Distribution (Area 3, Social and Behavioral Sciences)</li>
							</ul>
							<p class="panelheader2">McCormick Applications</p>
							<ul>
								<li>McCormick Themed Elective (Social & Behavioral Sciences)</li>
							</ul>

					</div>
					<div class="tab-pane contentpage" id="panel-4">
						<p>
							<canvas id="myChart" width="730" height="390"></canvas>
							<div id="myLegend" class="myLegend"></div>
						</p>
					</div>
					<div class="tab-pane contentpage" id="panel-5">
						<p>
							<ul class="nav nav-pills purplePill">
							 	<li class="active"><a href="#pill-1" data-toggle="pill">Sara Broaders</a></li>
							 	<li><a href="#pill-2" data-toggle="pill">Renee Engeln</a></li>
							 	<li><a href="#pill-3" data-toggle="pill">Susan Minka</a></li>
							</ul>
							<br>
							<div class="tab-content">
								<div class="tab-pane active" id="pill-1">
									<p class="panelheader3">Keywords</p>
									<p>Professor Broaders, discussion questions, great class, interesting psychology class, weekly discussion questions, interesting course, interesting class, psych class workload, fine Difficult class, hardest psych class, good class, book chapter headings, quarter Sara Broaders, exams, great deail, engaging lecturer, interesting subject, interesting material, work 2-page summary, prof. Broaders, weekly 2-page papers</p>
									<p class="panelheader3">Feedback</p>
									<p><!--NOTE: We might consider doing alternate text colors or background colors (just subtle ones) to differentiate one comment from another.-->This is a really interesting psychology class. Psychopathology is fascinating, and I enjoyed all of the lectures on the disorders. There's a lot of material to cover, but Professor Broaders manages to make it manageable and engaging. The work load isn't too heavy, just three tests and weekly discussion questions (although the final is cumulative).</p>
									<p>I really liked this class because I have a strong interest in the material. The tests were kinda challenging because everyone is smart and the tests are REALLY long (I mean, what tests are not hard at NU?). However, it's super interesting and professor broaders is a really engaging lecturer. I'd definitely take this class.</p>
									<p>unorganized. This also felt a lot like a text-book class, meaning that I could have taught myself the same material by only reading the text. I know a lot more about mental illness now, but I wish that we had talked more about the societal implications of mental health; stigma, health insurance, and advocacy groups.</p>
									<p>You'll need to basically memorize the entire textbook to do well on tests, and the textbook is very dense. You'll also have weekly 2-page papers based on anywhere from 20 to 100+ pages of discussion section readings. You'll have 2 midterms and a cumulative final exam which all cover a ridiculous amount of material.</p>
									<p>This course goes by quick, with lots of reading each week. The material is interesting, but I wish that there had been more time to actually enjoy learning about it. Also, the weekly reading articles you can usually skim and make something up...other than that this was an ok course.</p>
									<p>If you read the textbook and study lecture slides you can do very well. Broaders makes difficult tests, but if you study you can do well on them. Discussion sections were a really good part of the class. The subject gets repetitive, but discussion sections kept it more interesting.</p>
								</div>
								<div class="tab-pane" id="pill-2">
									<p class="panelheader3">Keywords</p>
									<p>professor Engeln, Prof Engeln, Renee Engeln, east Great class, reaction papers, pretty entertaining lecturer, good course, Midterm and final were really easy if, easy psych class, short response papers, it. class, AWESOME CLASS, study guides, night class, great job, distorted versions, reality TV, psychological disorders, bad class, fantastic teacher, excellent teacher,</p>
									<p class="panelheader3">Feedback</p>
									<p>Engeln teaches the course through lectures and readings in the book, so you have to go to class and do all the readings. There are 4 reflection papers that are each 2 pages long that you do throughout the quarter and they’re a really easy way to get 100% for a quarter of your grade. Other than that, there’s a midterm that is multiple choice and short answer and a cumulative final that’s the same. Neither are particularly challenging if you pay attention in lecture (because she tells you exactly what she expects you to know) and do the readings in the textbook. Minimal work for a pretty easy A-</p>
									<p>Professor Engeln was intriguing and made psychopathology every bit as interesting as I expected it to be. Surprisingly, the midterm and final were pretty easy. She wants to make sure you’ve kept up with the material and come to class. This class could easily be taken with other more difficult classes. It is not graded on a curve so you have to do well at every point, but this is pretty doable like I’ve said. Basically, keep up and really enjoy this class. Easy A if you attend class and read book.</p>
									<p>Engeln in AMAZING. Take this class with her if you get a chance. She is soooo enthusiastic about the material, which keeps it from being a listing of diagnostic criteria of the DSM. Class is pretty easy- grade is determined of 4 of 5 writing assignments (2 pages double spaced) a midterm, and a cumulative final (both are part MC, part short answer), Easy A if you go to lectures and do the reading and take notes, and review a bit before the exams.</p>
									<p>TAKE THIS CLASS! Engeln is really funny and engaging. She is really nice and will answer any questions you have. If you go to class and pay attention, this course is not difficult. Engeln is very fair and actually wants her students to get A’s. Having a night class is a little annoying but you will actually look forward to going.</p>
									<p>Engeln is one of my favorite professors i’ve had at northwestern, she comes to every class with the goal of getting her students interested, engaged and educated. her exams and test are aimed at assessing learning of the core principles of the class and reflect what she has emphasized in lecture. if you go to lecture and study before the exams, you will undoubtably do very well.</p>
								</div>
								<div class="tab-pane" id="pill-3"> <!--Susan Minka-->
									<p class="panelheader3">Keywords</p>
									<p>case studies, Prof. Minka, good class, best class, interesting class, daily assignments, multiple choice tests, Long textbook chapters, weekly case studies, occasional in-class assignments, poorly written test, real-world experience, practical implications, hard class, B, This class, Good course, easy class, power point, Blackboard posts, material-lecture slides,</p>
									<p class="panelheader3">Feedback</p>
									<p>Very interesting course material. Some of the comparisons made were a bit shallow and some of the videos shown did not seem appropriate to the material. Prof. Minka was very nice and cared a lot about her students. There were small assignments for each class in addition to three 50 question multiple choice test.</p>
									<p>Great course, prof very enthusiastic about teaching and the material. some people say the course is easy but thats only because she provides her students with so much material-lecture slides, chapter outlines, practice questions, etc. she is a very dedicated teacher and it shows. those who are truly interested in this course and get into the material will learn a lot and take away a lot from this course, those who are only concerned about a grade will likely get just that- a grade but never get into the actual depth of the course.</p>
									<p>I was really excited coming in to this class, and was very disappointed. I found the professor to be slightly disorganized, and the lectures were mostly her reading off her slides and showing videos. There was also a lot of work. Long textbook chapters, case studies and Blackboard posts. Overall, you can learn in this class, but I would recommend waiting and taking it with Engeln-Maddox</p>
									<p>Psychopathology was fascinating and one of the best classes I've taken so far at Northwestern. Minka is energetic and engaging. I actually wanted to attend lecture and looked forward to the material. She doesn't want her students to be stressed, so as long as you attend lecture and study some, exams are easy.</p>
									<p>Three exams, homework, and some occasional in-class assignments. Studying the lectures are important, however some questions are taken from the text. Her exams are sometimes difficult because they require application of information so things aren't always explicitly said during class. I liked her as a professor, but I understand if people don't take to her teaching style very well.</p>
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

