
<div class="container">
	<br><br>
	<div class="row clearfix">
		<div class="col-md-4">
			<br><br>
			<h3>Please enter a class</h3>
			<form>
				<input></input>
			</form>
		</div>
		<div class="col-md-8">
			<div class="tabbable" id="tabs-202962">
				<ul class="nav nav-tabs behindtabs"> <!-- the background behind the tabs -->
					<li class=" mytabs active">
						<a href="#panel-1" data-toggle="tab">Course Path</a>
					</li>
					<li class="mytabs">
						<a href="#panel-2" data-toggle="tab">Info</a>
					</li>
					<li class="mytabs">
						<a href="#panel-3" data-toggle="tab">Major/ Minor</a>
					</li>
					<li class="mytabs">
						<a href="#panel-4" data-toggle="tab">Course Ratings</a>
					</li>
					<li class="mytabs">
						<a href="#panel-5" data-toggle="tab">Course Comments</a>
					</li>
				</ul>
				<div class="tab-content">  <!--coloring did not have effect when a class was put here-->
					<div class="tab-pane contentpage active" id="panel-1">
						<p>
							I'm in Section 1.
						</p>
					</div>
					<div class="tab-pane" id="panel-2">
						<p class="contentpage">
							Howdy, I'm in Section 2.
						</p>
					</div>
					<div class="tab-pane" id="panel-3">
						<p>
							Howdy, I'm in Section 3.
						</p>
					</div>
					<div class="tab-pane" id="panel-4">
						<p>
							Howdy, I'm in Section 4.
						</p>
					</div>
					<div class="tab-pane" id="panel-5">
						<p>
							Howdy, I'm in Section 5.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

