// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral

body{background:#EFCDFF;}

.courseSearch
{
  @extend .form-control;
  color:#555555;
  width: 17.2em;
  border-radius: 5px;
  padding-left: 11px;
}
/* Search Autocompletion Box */
.autoCompleteBox
{
  background-color: #ffffff;
  width: 16.8em;
  margin-left: 0.2em;
  border-radius: 5px;
  margin-top: 2px;
}
.autoCompleteEntry
{
  color:#555555;
  padding: 10px;
  border-color: #EFCDFF;
  border-width: 1px;
  border-bottom-style: solid;
}
.autoCompleteError
{
  color:#555555;
  padding: 10px;
  border-color: #EFCDFF;
  border-width: 1px;
  border-bottom-style: solid;
}
.autoCompleteEntry:hover
{
  padding: 10px;
  border-color: #EFCDFF;
  color: #E89FC0;
  border-width: 1px;
  border-bottom-style: solid;
}

/* tab color */
.purpleTab>li>a
{
  background-color: #9B96E8; 
  color:#ffffff;
  border: none;
}

/* active tab color */
.purpleTab>li.active>a, .purpleTab>li.active>a:hover, .purpleTab>li.active>a:focus
{
  color: #333333;
  background-color: #ffffff;
  border: none;
}

/* hover tab color */
.purpleTab>li>a:hover
{
  background-color: #E89FC0;
  border:none;
}
/* tab content */
.contentpage
{
  background-color: #fff;
  height: 450px;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:  5px;
  border-top-right-radius:  5px;
  padding: 10px;
  flex: auto;
  overflow: scroll
}
.panelheader1
{
  font-size: 2.25em;
}

.panelheader2
{
  font-size: 1.75em;
  color: #FF8B6E;
}
.panelheader3
{
  font-size: 1.5em;
  color: #FF8B6E;
}

.saveButton
{
  background-color: #9B96E8;
  color: #ffffff;
  width: 16.8em;
  margin-left: 0.2em;
}
.saveButton:hover
{
  background-color: #E89FC0;
  color: #ffffff;
}

.saveList
{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  width: 16.8em;
  margin-left: 0.2em;
}

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: rgba(0,0,0,0);
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar:  STARTS AS 51 px
  }
section {  //I don't know where/what this is, I can't find it.
  @extend .row;
  margin-top: 20px;
  //background-color: #FF5C03;
  }
